@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blue: #005CFF;
    --gray: #EEEEEE;
    --gray_strong: gray;
    --gray_banner: #DEDEDE;
    --gray_footer: #F5F5F5;
    --new: #00264E;
    --background_promo: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}
ul{
    display: flex;
    list-style: none;
}


i{
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
}

input:focus {
    outline: 0;
}
input::placeholder {
    color: #000;
    font-size: 12px;
}