@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blue: #005CFF;
    --new: #00264E;
    --blue_discount: #5EC0BE;
    --gray_strong: #303030;
    --gray: #EEEEEE;
    --gray_banner: #DEDEDE;
    --gray_footer: #F5F5F5;
    --white: white;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito';

}
ul{
    display: flex;
    list-style: none;
}


i{
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
}

input:focus {
    outline: 0;
}
input::placeholder {
    color: #000;
    font-size: 12px;
}

button{
    background-color: transparent;
    cursor: pointer;
}

.elements_heading {
    font-size: 14px;
    color: #656565;
    font-weight: 600;
}
