/* Styles para versão Pc*/
@media screen and (width > 768px) {
    header {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .container_warning {
            width: 100%;
            font-size: 14px;
            padding: .3rem .5rem;
        }

        .container_search {
            flex-direction: row;
            padding-top: 1rem;
            align-items: center;
            width: 70%;

            .content_search_up {
                width: auto;

                .btn_menu,
                i {
                    display: none;
                }
            }

            .container_itens {
                margin-top: 0;

                .body_input {
                    margin-left: 2rem;
                    padding: .4rem .5rem;
                    border: 2px solid var(--gray);
                    width: 50%;

                    input {
                        padding: .25rem 1rem;
                        font-size: 12px;
                    }
                }

                .container_searchrResult {
                    width: 50%;
                    bottom: -140%;
                    left: 3%;

                    p {
                        font-size: 12px;
                    }
                }

                .container_user {
                    display: flex;
                    gap: 1.5rem;

                    i {
                        font-size: 24px;
                    }

                    .content_user {
                        display: flex;
                        gap: .5rem;
                        align-items: center;

                        .content_user_text {
                            p {
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }

                    }
                }
            }
        }

        .container_categories {
            width: 68%;
            display: block;
            padding: .8rem .5rem;

            .ul_categories {
                width: 100%;
                justify-content: space-between;

                .btn_menu {
                    align-items: center;
                    gap: .5rem;
                }

                .li_categories,
                .btn_menu {
                    display: flex;
                    font-size: 12px;
                    cursor: pointer;
                }

                .li_categories:first-child {
                    font-weight: 700;
                    justify-content: center;
                    gap: 8px;
                }
            }
        }

        .container_menu_expanded {
            background-color: var(--white);
            padding: 0rem;
            height: 34vh;
            width: 68%;
            position: absolute;
            flex-direction: row;
            top: 100%;
            box-shadow: 0 4px 7px -4px #0000006e;

            .container_allCategories {
                width: 100%;
                flex-direction: row;

                .content_side {
                    width: 80%;
                    height: 100%;
                    display: flex;

                    .content_ulDepartament {
                        min-width: 20%;
                        padding: 1rem;
                        background-color: #fafafa;
                        height: 100%;

                        .ul_departament {
                            flex-direction: column;
                            gap: 1rem;
                            padding: 0 1rem 0 0;

                            .li_departament {
                                font-size: 12px;
                                transition: .3s;
                                font-weight: 400;
                                cursor: pointer;
                            }

                            .li_departament:hover {
                                color: var(--blue);
                                font-weight: 700;
                            }
                        }
                    }

                    .content_allCategories {
                        width: 50%;
                        padding: 1rem 2rem;

                        .content_itens {
                            font-size: 12px;
                            place-items: start;
                            grid-template-columns: 1fr 1fr 1fr;

                            span {
                                transition: .3s;
                            }

                            span:hover {
                                color: var(--blue);
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .container_allProducts {
                    height: 100%;
                    width: 15rem;
                    padding: 1rem;

                    .content_img {
                        border-radius: 10px;
                    }

                    .content_text {
                        width: 100%;
                        padding: 2rem 1rem 3rem 1rem;

                        p {
                            width: 60%;
                            font-size: 18px;
                            word-wrap: break-word;
                        }

                        span {
                            padding: .5rem;
                            width: 80%;
                            font-size: 12px;

                        }
                    }
                }
            }

            .container_departament {
                width: 100%;
                justify-content: space-between;
                padding: 1rem;

                .content_allCategories {
                    width: 50%;

                    h1 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .content_itens {
                        font-size: 12px;
                        place-items: start;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 1rem;
                        text-transform: capitalize;
                        color: var(--gray_strong);

                        span {
                            transition: .3s;
                        }

                        span:hover {
                            color: var(--blue);
                            font-weight: 700;
                            cursor: pointer;
                        }
                    }
                }

                .container_allProducts {
                    height: 100%;
                    min-width: 13rem;

                    .content_img {
                        border-radius: 10px;
                        background: url('../assets/item1.png');
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                    }

                    .content_img::before {
                        content: "";
                        position: absolute;
                        border-radius: 15px;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                        height: 100%;
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
                    }

                    .content_text {
                        width: 100%;
                        padding: 2rem 1rem 3rem 1rem;
                        position: absolute;
                        color: var(--white);
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        font-weight: 300;

                        p {
                            width: 60%;
                            font-size: 18px;
                            word-wrap: break-word;
                        }

                        span {
                            padding: .5rem;
                            width: 80%;
                            font-size: 12px;
                            text-align: center;
                            text-transform: uppercase;
                            border: 1px solid var(--white);
                            border-radius: 10px;
                        }

                    }
                }
            }
        }

        .expanded {
            opacity: 1;
            visibility: visible;

        }

        .fi-rr-shopping-cart::after {
            width: 18px;
            height: 18px;
            top: -15%;
            right: -30%;
        }
    }

    .section_banner {
        .desktop-banner {
            margin-top: 110px;
            display: flex;

            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        .mobile-banner {
            display: none;
        }
    }
    
    .section_carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 1rem 0;

        .container_carrossel {
            .container_carrossel_title a {
                text-decoration: none;
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 10px;
                height: 10px;
                padding: .8rem;
                box-shadow: 0 4px 7px -2px #0000006e;
                border: 1px solid var(--blue);
                border-radius: 50%;
                background-color: var(--white);
                display: flex;
                align-items: center;
            }

        }

        .carrossel_responsive {
            display: flex !important;
        }
    }

    .section_detail {
        padding: 2rem 0;

        .container_detail {
            display: flex;
            justify-content: center;
            align-items: center;

            .content_detail {
                flex-direction: row;
                width: 60%;

                img {
                    min-width: 50%;
                }

                .container_text {
                    min-width: 50%;
                    padding: 1.5rem;
                    align-items: start;

                    .content_desktop {
                        display: flex;
                    }

                    .content_mobile {
                        display: none;
                    }

                    p {
                        min-width: 50%;
                    }
                }
            }
        }

        .container_detail:nth-child(2) {
            padding: 2rem;

            .content_detail {
                flex-direction: row-reverse;

                .container_text {
                    align-items: center;
                    padding: 1rem;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .section_banner_menssage {
        .container_img {
            height: 41.25rem;

            .container_text_img {
                padding: 2rem;
                font-size: 22px;
            }
        }
    }

    footer {
        padding-top: 2.5rem;
        align-items: center;

        .container_register {
            min-width: 70%;

            form {
                padding: 3.5rem 5rem;
                flex-direction: row;

                .body_input {
                    padding: .8rem;

                    input {
                        font-size: 12px;
                    }

                }

                .body_input_checkbox {
                    gap: .5rem;

                    p {
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }

                .btn_form {
                    width: 40%;
                    padding: .8rem;
                }
            }
        }

        .container_networks {
            width: 100%;
            padding: 3rem 2rem;

            .container_links {
                align-items: center;
                justify-content: space-between;
                width: 70%;
                display: flex;

                .container_about {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-evenly;

                    details {
                        display: block;
                        border: none;
                        background: transparent;
                        padding: 0;
                        width: auto;

                        .ul_list {
                            margin-top: 15px;

                            .li_list,
                            li {
                                margin: 5px 0;
                                font-size: 16px;

                            }

                            li {
                                font-size: 14px;
                            }
                        }



                    }

                    details[open] summary {
                        pointer-events: none;

                        i {
                            display: none;
                        }
                    }
                }
            }

            .container_payments {
                .ul_pay {
                    width: 100%;

                    img {
                        width: 25px;
                    }
                }
            }
        }

        .container_copyright {
            width: 70%;

            p {
                font-size: 12px;
            }

            .ul_copy {
                img {
                    width: 50px;
                }
            }
        }
    }
}

@media screen and (width < 768px) {
    header {
        .content_ulDepartament_none {
            height: none;
            display: none;
        }
    }

}

/* Styles para versão para monitores medios*/
@media screen and (width < 965px) {
    header{
        .container_categories .ul_categories{
            justify-content: center;
            gap: .8rem;
            flex-wrap: wrap;
        }
    }
    
    .container_detail {
        .content_detail {
            text-align: center;
            flex-wrap: wrap;
        }
    }

    footer {

        form {
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .container_networks {
            .container_links {
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
            }
        }
    }
}

/* Styles para versão para monitores com alturas medias*/
@media screen and (height < 768px) {
    .container_menu_expanded {
        height: 50vh !important;

        .content_allCategories .content_itens {
            grid-template-columns: 1fr 1fr 1fr 1fr !important;
        }
    }
}